<div class="container" ng-init="loadGenre()">
    <form novalidate="novalidate" class="form-horizontal">       
       <h1>GÊNERO</h1>
        <div class="control-group">            
            <div class="controls">
                <label class="control-label" for="inputNome">Nome:</label>
                <input type="text" id="inputFirstName" ng-model="genre.Name"/>
                <a href="#genres" class="btn btn-small btn-danger">Cancelar</a>
                <a ng-click="editGenre()" class="btn btn-small btn-primary">Atualizar</a>
            </div>
        </div>
    </form>
</div>   