<DOCTYPE=html/>
<html ng-app="" lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <title>ADO 02</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script src="./genero.js"></script>
    </head>
    <body ng-controller="" ng-init="">
        <div class="container">
            <h1>GÊNERO</h1>
        
            <form novalidate="novalidate" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputNome">Nome:</label>
                    <div class="controls">
                        <input type="text" id="inputFirstName" ng-model="genero.Name"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a ng-click="cancelar()" class="btn btn-small">Cancelar</a>
                        <a ng-click="atualizar()" class="btn btn-small btn-primary">Atualizar</a>
                    </div>
                </div>
            </form>
        </div>                
    </body>
</html>