<div class="container" ng-init="loadGenres()">
    <h1>LISTA DE GÊNEROS MÚSICAIS</h1>

    <div class="filter" style="display:none">
        <input type="text"/>
    </div>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>GÊNERO</th>
                <th style="width:150px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="genre in genres">
                <td>{{genre.GenreId}}</td>
                <td>{{genre.Name}}</td>
                <td>
                    <button ng-click="editGenre(genre.GenreId)" class="btn btn-success">Editar</button>
                    <button style="margin-left:3px;" class="btn btn-danger">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>            
</div>